<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="dropdown_vue_test.css">
    <link rel="stylesheet" href="topbutton_test.css">
    <script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
</head>
<body>
    <header>
        <nav id="nav">
            <h1>Site Title</h1>
            <ul>
                <li
                    v-for="item in items">
                    <a :href="item.url"
                       v-if="!item.children">
                        {{ item.name }}
                    </a>
                    <span
                        v-else
                        v-on:mouseover="mouseover(item.index)"
                        v-on:mouseleave="mouseleave(item.index)">
                        {{ item.name }}
    
                        <ul class=" dropdown"
                           :class="{ isOpen:item.sw}">
                            <li
                                v-for="child in item.children">
                                <a :href="child.url">
                                    {{ child.name }}
                                </a>
                            </li>
                        </ul>
                    </span>
                </li>
            </ul>
        </nav>
    </header>
    <div id="app">
        <h2>toDo List</h2>
        <form v-on:submit.prevent>　<!--ページの再読み込みを防ぐ-->
          <input type="text" v-model="newItem">
          <button v-on:click="addItem">
            Add
          </button>
        </form>
        <!--空白の挿入
        <input type="checkbox" name="">
        <label for="scales">空白</label>-->
        <!--グループ名選択-->
        <!--<tr>
          <td>
          <label>グループ名選択</label>
          </td>
          <td>
          <input type="text" name="r" list="range" autocomplete="off">　autocomplete 検索履歴を非表示
          <datalist id="range">
          <option value="グループ名１">グループ名１</option>
          <option value="2">2</option>
          <option value="3">3</option>
          </td>
          <input type="submit" name="sr">-->
        <!--</tr>-->
        <!--todoリストの一覧表示-->
        <ul>
          <li v-for="(todo, index) in todos">
            <input type="checkbox" v-model="todo.isDone"> <!--チェックボックスの状態-->
            <span v-bind:class="{ done: todo.isDone}">{{ todo.item }}</span>
            <!--削除-->
            <button v-on:click="deleteItem(index)">Delete</button>
          </li>
        </ul>
      </div>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
        <div id="page_top"><a href="#"></a></div>
      <script type="text/javascript" src="dropdown_memo_test.js"></script>
      <script type="text/javascript" src="todolist_vue_test.js"></script>
</body>
</html>